body {
    font-family: "Roboto", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
 
  
  
  /* slider section */
  .slider_section .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10%;
  }
  
  .slider_section .detail-box {
    width: 45%;
    z-index: 4;
    color: #ffffff;
  }
  
  .slider_section .detail-box h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
  }
  
  .slider_section .detail-box p {
    width: 75%;
    margin-top: 15px;
  }
  
  .slider_section .detail-box .slider-link {
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 35px;
  }
  
  .slider_section .detail-box .slider-link:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .slider_section .img-box {
    width: 73%;
    margin-left: -17%;
    position: relative;
    z-index: 2;
  }
  
  .slider_section .img-box img {
    width: 100%;
  }
  
  .slider_section .slider_bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    z-index: 3;
    -webkit-clip-path: polygon(0 0, 60% 0, 37% 100%, 0% 100%);
            clip-path: polygon(0 0, 60% 0, 37% 100%, 0% 100%);
  }
  
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 47.6%;
    width: 50px;
    height: 50px;
    z-index: 9;
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border-radius: 100%;
  }
  
  .slider_section .carousel-control-prev {

    background-color: #ffffff;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  
  .slider_section .carousel-control-next {

    background-color: #2e02fe;
    top: calc(50% - 30px);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  
  .about_section {
    font-family: "Poppins", sans-serif;
  }
  
  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section a {
    display: inline-block;
    padding: 8px 25px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 45px;
  }
  
  .about_section a:hover {
    background-color: transparent;
    color: #000000;
  }
  
  .about_section p {
    margin-top: 45px;
  }
  
  .about_section .img-box img {
    width: 100%;
  }
  
  .about_section h6 {
    text-transform: uppercase;
    color: #bdbbbb;
    font-weight: bold;
    margin: 0;
  }
  
  .service_section {
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  
  .service_section h2,
  .service_section p {
    color: white;
  }
  
  .service_section hr {
    background-color: #ffffff;
  }
  
  .service_section .service_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .service_section .box {
    width: 175px;
    text-align: center;
    margin: 30px 0;
    font-family: "Roboto", sans-serif;
  }
  
  .service_section .box .img-2 {
    display: none;
  }
  
  .service_section .box .img-box {
    width: 175px;
    height: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  
  .service_section .box .name {
    margin-top: 15px;
  }
  
  
  /* end footer section*/
  /*# sourceMappingURL=style.css.map */