<app-navbar></app-navbar>
<div class="hero_area">
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="slider_bg-container">
        </div>
        <div class="slider-container">
            <div class="detail-box">
                <h1>WELCOME
                </h1><br>
                <h2>GeoMap</h2> <br>
            <div>
        </div>
        </div>
        <div class="img-box">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://img.hipcamp.com/images/f_auto,q_auto/v1517605417/journal/mjbnsmiyto5gpfsfjrgg/mjbnsmiyto5gpfsfjrgg.jpg?_i=AA&p=6332" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

